body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .circle{
    position: relative;
    width:50%;
    height:0%;
    font-size:100%;
    text-align:center;
    padding:25%;
    border-radius: 50%;
    color:#fff;
    background: #0099ff;
    line-height:0;
    left:25%;
  }
  .map{
    width: 1000px;
    height: 600px;
    position: relative;

  }
  .active
  {
    color:grey;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    align-content: center;
    padding-bottom:25px;
  }
  td{
    padding-bottom:20px;
  }
  .inputsize{
    position:relative;
    width:80%;
  }